/.vs/ThreadInMotion/v17/.suo
/.vs/ThreadInMotion/v17/DocumentLayout.json
/.vs/ThreadInMotion/FileContentIndex/f4f0d5e8-1d23-4d0f-8ba3-a4381d1e4703.vsidx
/ThreadInMotion.Core/bin/Debug/net8.0/ThreadInMotion.Core.deps.json
/ThreadInMotion.Core/bin/Debug/net8.0/ThreadInMotion.Core.dll
/ThreadInMotion.Core/bin/Debug/net8.0/ThreadInMotion.Core.pdb
/ThreadInMotion.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ThreadInMotion.Core/obj/Debug/net8.0/ref/ThreadInMotion.Core.dll
/ThreadInMotion.Core/obj/Debug/net8.0/refint/ThreadInMotion.Core.dll
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.AssemblyInfo.cs
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.AssemblyInfoInputs.cache
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.assets.cache
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.csproj.CoreCompileInputs.cache
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.csproj.FileListAbsolute.txt
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.dll
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.GeneratedMSBuildEditorConfig.editorconfig
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.GlobalUsings.g.cs
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.pdb
/ThreadInMotion.Core/obj/Debug/net8.0/ThreadInMotion.Core.sourcelink.json
/ThreadInMotion.Core/obj/project.assets.json
/ThreadInMotion.Core/obj/project.nuget.cache
/ThreadInMotion.Core/obj/ThreadInMotion.Core.csproj.nuget.dgspec.json
/ThreadInMotion.Core/obj/ThreadInMotion.Core.csproj.nuget.g.props
/ThreadInMotion.Core/obj/ThreadInMotion.Core.csproj.nuget.g.targets
/.vs/ThreadInMotion/FileContentIndex/85d8b1d0-5b67-4673-8a49-0c597ce00bd2.vsidx
/.vs/ThreadInMotion/FileContentIndex/9eb8ba34-a6e1-416f-9d5e-cc90196a26e8.vsidx
/ThreadInMotion.DataAccess/bin/Debug/net8.0/ThreadInMotion.Core.dll
/ThreadInMotion.DataAccess/bin/Debug/net8.0/ThreadInMotion.Core.pdb
/ThreadInMotion.DataAccess/bin/Debug/net8.0/ThreadInMotion.DataAccess.deps.json
/ThreadInMotion.DataAccess/bin/Debug/net8.0/ThreadInMotion.DataAccess.dll
/ThreadInMotion.DataAccess/bin/Debug/net8.0/ThreadInMotion.DataAccess.pdb
/ThreadInMotion.DataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ref/ThreadInMotion.DataAccess.dll
/ThreadInMotion.DataAccess/obj/Debug/net8.0/refint/ThreadInMotion.DataAccess.dll
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadIn.74FA7059.Up2Date
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.AssemblyInfo.cs
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.AssemblyInfoInputs.cache
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.assets.cache
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.csproj.AssemblyReference.cache
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.csproj.CoreCompileInputs.cache
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.csproj.FileListAbsolute.txt
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.dll
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.GlobalUsings.g.cs
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.pdb
/ThreadInMotion.DataAccess/obj/Debug/net8.0/ThreadInMotion.DataAccess.sourcelink.json
/ThreadInMotion.DataAccess/obj/project.assets.json
/ThreadInMotion.DataAccess/obj/project.nuget.cache
/ThreadInMotion.DataAccess/obj/ThreadInMotion.DataAccess.csproj.nuget.dgspec.json
/ThreadInMotion.DataAccess/obj/ThreadInMotion.DataAccess.csproj.nuget.g.props
/ThreadInMotion.DataAccess/obj/ThreadInMotion.DataAccess.csproj.nuget.g.targets
/ThreadInMotion.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ThreadInMotion.Service/obj/Debug/net8.0/ref/ThreadInMotion.Service.dll
/ThreadInMotion.Service/obj/Debug/net8.0/refint/ThreadInMotion.Service.dll
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadIn.D917F012.Up2Date
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.AssemblyInfo.cs
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.AssemblyInfoInputs.cache
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.assets.cache
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.csproj.AssemblyReference.cache
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.csproj.CoreCompileInputs.cache
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.csproj.FileListAbsolute.txt
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.dll
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.GeneratedMSBuildEditorConfig.editorconfig
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.GlobalUsings.g.cs
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.pdb
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.sourcelink.json
/ThreadInMotion.Service/obj/project.assets.json
/ThreadInMotion.Service/obj/project.nuget.cache
/ThreadInMotion.Service/obj/ThreadInMotion.Service.csproj.nuget.dgspec.json
/ThreadInMotion.Service/obj/ThreadInMotion.Service.csproj.nuget.g.props
/ThreadInMotion.Service/obj/ThreadInMotion.Service.csproj.nuget.g.targets
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.Core.dll
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.Core.pdb
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.DataAccess.dll
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.DataAccess.pdb
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.Service.deps.json
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.Service.dll
/ThreadInMotion.Service/bin/Debug/net8.0/ThreadInMotion.Service.pdb
/.vs/ThreadInMotion/DesignTimeBuild/.dtbcache.v2
/.vs/ThreadInMotion/FileContentIndex/e261c869-94a2-46d1-9ac1-83b8c2581562.vsidx
/ThreadInMotion.Presentation/bin/Debug/net8.0/appsettings.Development.json
/ThreadInMotion.Presentation/bin/Debug/net8.0/appsettings.json
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Core.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Core.pdb
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.DataAccess.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.DataAccess.pdb
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Presentation.deps.json
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Presentation.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Presentation.exe
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Presentation.pdb
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Presentation.runtimeconfig.json
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Presentation.staticwebassets.runtime.json
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Service.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.Service.pdb
/ThreadInMotion.Presentation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ThreadInMotion.Presentation/obj/Debug/net8.0/apphost.exe
/ThreadInMotion.Presentation/obj/Debug/net8.0/ref/ThreadInMotion.Presentation.dll
/ThreadInMotion.Presentation/obj/Debug/net8.0/refint/ThreadInMotion.Presentation.dll
/ThreadInMotion.Presentation/obj/Debug/net8.0/scopedcss/bundle/ThreadInMotion.Presentation.styles.css
/ThreadInMotion.Presentation/obj/Debug/net8.0/scopedcss/projectbundle/ThreadInMotion.Presentation.bundle.scp.css
/ThreadInMotion.Presentation/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets.build.json
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets.development.json
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets.pack.json
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.build.ThreadInMotion.Presentation.props
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ThreadInMotion.Presentation.props
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ThreadInMotion.Presentation.props
/ThreadInMotion.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.ThreadInMotion.Presentation.Microsoft.AspNetCore.StaticWebAssets.props
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadIn.41474581.Up2Date
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.AssemblyInfo.cs
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.AssemblyInfoInputs.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.assets.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.csproj.AssemblyReference.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.csproj.CoreCompileInputs.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.csproj.FileListAbsolute.txt
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.dll
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.GeneratedMSBuildEditorConfig.editorconfig
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.genruntimeconfig.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.GlobalUsings.g.cs
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.MvcApplicationPartsAssemblyInfo.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.pdb
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.RazorAssemblyInfo.cache
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.RazorAssemblyInfo.cs
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.sourcelink.json
/ThreadInMotion.Presentation/obj/project.assets.json
/ThreadInMotion.Presentation/obj/project.nuget.cache
/ThreadInMotion.Presentation/obj/ThreadInMotion.Presentation.csproj.nuget.dgspec.json
/ThreadInMotion.Presentation/obj/ThreadInMotion.Presentation.csproj.nuget.g.props
/ThreadInMotion.Presentation/obj/ThreadInMotion.Presentation.csproj.nuget.g.targets
/ThreadInMotion.Presentation/bin/Debug/net8.0/af/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ar/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/az/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/bg/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/bn-BD/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/da/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/dotnet-aspnet-codegenerator-design.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/el/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fa/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fi-FI/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr-BE/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/he/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/hr/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/hu/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Humanizer.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/hy/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/id/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/is/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko-KR/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ku/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/lv/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.Razor.Language.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.Build.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.Build.Framework.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Features.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.Elfie.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.Features.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.Razor.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.Scripting.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.DiaSymReader.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.DotNet.Scaffolding.Shared.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.NET.StringTools.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Mono.TextTemplating.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ms-MY/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/mt/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/nb-NO/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/nb/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Newtonsoft.Json.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/nl/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.Common.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.Configuration.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.DependencyResolver.Core.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.Frameworks.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.LibraryModel.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.Packaging.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.ProjectModel.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.Protocol.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/NuGet.Versioning.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/pt/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ro/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Security.Cryptography.ProtectedData.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Windows.Extensions.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/sk/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/sl/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/sr-Latn/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/sr/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/sv/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.CodeDom.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Composition.Convention.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Composition.Hosting.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Composition.Runtime.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Composition.TypedParts.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Drawing.Common.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Reflection.MetadataLoadContext.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Security.Permissions.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Windows.Extensions.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/th-TH/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/uk/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/uz-Cyrl-UZ/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/uz-Latn-UZ/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/vi/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-CN/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Humanizer.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/.vs/ThreadInMotion/FileContentIndex/1d3b98bf-8447-462b-981f-55f5acff767f.vsidx
/.vs/ThreadInMotion/FileContentIndex/46ca8940-f9e9-4efe-89db-28c4c58cc6c8.vsidx
/.vs/ThreadInMotion/FileContentIndex/7fde0d4a-b08d-4445-8794-264caf101ea8.vsidx
/.vs/ThreadInMotion/FileContentIndex/e806f331-a425-42da-ba71-47d89eac6e29.vsidx
/ThreadInMotion.Presentation/obj/Debug/net8.0/ApiEndpoints.json
/.vs/ThreadInMotion/config/applicationhost.config
/.vs/ThreadInMotion/FileContentIndex/08f3931c-e787-4d70-a876-51691eb0f016.vsidx
/.vs/ThreadInMotion/FileContentIndex/7253fdb9-c8ec-4d7a-a9bb-e8242359331c.vsidx
/.vs/ThreadInMotion/FileContentIndex/855e7ad0-e8b5-488e-847d-160f84eec8b7.vsidx
/.vs/ThreadInMotion/FileContentIndex/8bac7eac-948d-45b5-b1a6-d86283b8024e.vsidx
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Microsoft.OpenApi.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Pipelines.Sockets.Unofficial.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/StackExchange.Redis.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/System.Diagnostics.PerformanceCounter.dll
/ThreadInMotion.Presentation/bin/Debug/net8.0/ThreadInMotion.SmartGlove.Sdk.dll
/ThreadInMotion.Presentation/obj/Debug/net8.0/ThreadInMotion.Presentation.MvcApplicationPartsAssemblyInfo.cs
/ThreadInMotion.Service/obj/Debug/net8.0/ThreadInMotion.Service.csproj.BuildWithSkipAnalyzers
/.vs/ThreadInMotion/FileContentIndex/a0d84fcf-2592-456f-a219-ea20ec466714.vsidx
/.vs/ThreadInMotion/FileContentIndex/f31c104a-aea5-4534-a2d2-0910187d6632.vsidx
