@{
    ViewData["Title"] = "Index";
	Layout = "~/Areas/User/Views/Shared/Layout.cshtml";
}

<div class="wrap">
	<section class="app-content">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="widget p-md clearfix">
					<div class="pull-left">
						<h3 class="widget-title">Welcome to Infinity</h3>
						<small class="text-color">Number of views</small>
					</div>
					<span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">102</span>
				</div>
			</div>

			<div class="col-md-6 col-sm-6">
				<div class="widget p-md clearfix">
					<div class="pull-left">
						<h3 class="widget-title">Active</h3>
						<small class="text-color">Loads / contact</small>
					</div>
					<span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">325</span>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="wrap p-t-0">
	<footer class="app-footer">
		<div class="clearfix">
			<ul class="footer-menu pull-right">
				<li><a href="javascript:void(0)">Careers</a></li>
				<li><a href="javascript:void(0)">Privacy Policy</a></li>
				<li><a href="javascript:void(0)">Feedback <i class="fa fa-angle-up m-l-md"></i></a></li>
			</ul>
			<div class="copyright pull-left">Copyright RaThemes 2016 &copy;</div>
		</div>
	</footer>
</div>