<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>ThreadInMotion</title>
	<meta name="description" content="ThreadInMotion" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" sizes="196x196" href="~/assets/images/logo.png">
	<link rel="stylesheet" href="~/libs/bower/font-awesome/css/font-awesome.min.css" asp-append-version="true">
	<link rel="stylesheet" href="~/libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.css" asp-append-version="true">
	<link rel="stylesheet" href="~/libs/bower/animate.css/animate.min.css" asp-append-version="true">
	<link rel="stylesheet" href="~/libs/bower/fullcalendar/dist/fullcalendar.min.css" asp-append-version="true">
	<link rel="stylesheet" href="~/libs/bower/perfect-scrollbar/css/perfect-scrollbar.css" asp-append-version="true">
	<link rel="stylesheet" href="~/assets/css/bootstrap.css" asp-append-version="true">
	<link rel="stylesheet" href="~/assets/css/app.css" asp-append-version="true">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">
</head>
<body class="sb-top">
	<nav id="app-navbar" class="app-navbar bg-primary">
		<div class="container">
			<div id="navbar-header" class="pull-left">
				<div class="animated">
					<a href="/" id="app-brand" class="app-brand text-white">
						<span id="brand-icon" class="brand-icon"><i class="fa fa-gg"></i></span>
						<span id="brand-name" class="brand-icon foldable">ThreadInMotion</span>
					</a>
				</div>
			</div>
		</div>
	</nav>

	<main id="app-main" class="app-main">
		<div class="container">
			@RenderBody()
		</div>
	</main>

	<script src="~/libs/bower/jquery/dist/jquery.js" asp-append-version="true"></script>
	<script src="~/libs/bower/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
	<script src="~/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js" asp-append-version="true"></script>
	<script src="~/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js" asp-append-version="true"></script>
	<script src="~/libs/bower/superfish/dist/js/hoverIntent.js" asp-append-version="true"></script>
	<script src="~/libs/bower/superfish/dist/js/superfish.js" asp-append-version="true"></script>
	<script src="~/libs/bower/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
	<script src="~/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js" asp-append-version="true"></script>
	<script src="~/libs/bower/PACE/pace.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/library.js" asp-append-version="true"></script>
	<script src="~/assets/js/plugins.js" asp-append-version="true"></script>
	<script src="~/assets/js/app.js" asp-append-version="true"></script>
	<script src="~/libs/bower/moment/moment.js" asp-append-version="true"></script>
	<script src="~/libs/bower/fullcalendar/dist/fullcalendar.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/fullcalendar.js" asp-append-version="true"></script>

</body>
</html>